.calender-container {
  width: 100%;
  display: grid;
  justify-items: center;
}

.inline-calendar-card {
  width: 100%;
  background-color: transparent;
  box-shadow: none;
}

.calendar-button {
  letter-spacing: -0.4px;
  width: 90%;
  align-self: flex-end;
  justify-self: center;
  margin-bottom: 5ch;
}
