form{
  margin: auto;
  width: 60%;

  button {
    margin-left: 25%;
  }
}

h1{
  text-align: center;
  margin-top: 5%;
  font-family: 'Raleway',sans-serif;
  font-size: 48px;
  font-weight: 800;
  line-height: 48px;
  text-transform: uppercase;
}

.location{
  width: 100%;
  display: inline-block;
}

.name{
  width: 100%;
  display: inline-block;
  padding-right: 15px;
}

.textarea{
  margin-top: 10px;
}

mat-form-field {
  width: 100%;
}

.datepicker{
  display: inline-block;
}
