<div class="form">
  <h1>New Event</h1>

  <form [formGroup]="eventForm">

    <!-- Name of Event input -->
    <div class="form-outline mb-4 name">
      <mat-form-field class="example-full-width">
        <mat-label>Name of event</mat-label>
        <input matInput type="text" formControlName="name">
      </mat-form-field>
    </div>

    <!-- Location input -->
    <div class="form-outline mb-4 location">
      <mat-form-field appearance="fill">
        <mat-label>Location</mat-label>
        <select matNativeControl required formControlName="location">
          <option value="Wilhelmsburg">Wilhelmsburg</option>
          <option value="Harburg">Harburg</option>
          <option value="Altona">Altona</option>
          <option value="Wandsbeck">Wandsbeck</option>
          <option value="Hamburg Mitte">Hamburg Mitte</option>
        </select>
      </mat-form-field>
    </div>

    <!-- Location input -->
    <div class="form-outline mb-4 location">
      <mat-form-field appearance="fill">
        <mat-label>Event Kategorie</mat-label>
        <select matNativeControl required formControlName="tag">
          <option value="Wilhelmsburg">Sport</option>
          <option value="Musik">Musik</option>
          <option value="Kinder">Kinder</option>
          <option value="Kunst">Kunst</option>
          <option value="Tanz">Tanz</option>
        </select>
      </mat-form-field>
    </div>

    <!-- Date input -->
    <mat-form-field appearance="fill" class="datepicker">
      <input matInput [matDatepicker]="picker" formControlName="date">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <!-- image input -->
    <div class="form-outline mb-4 name">
      <mat-form-field class="example-full-width">
        <mat-label>URL image</mat-label>
        <input matInput type="text" formControlName="imageUrl">
      </mat-form-field>
    </div>

    <!--Text area-->
    <div class="form-outline mb-4 textarea">
      <mat-form-field class="example-full-width">
        <mat-label>About this event...</mat-label>
        <textarea matInput placeholder="Ex. It makes me feel..." formControlName="description"></textarea>
      </mat-form-field>
    </div>


  </form>

  <!-- Submit button -->
  <button mat-flat-button color="accent" matTooltip="Add Event" (click)="onSubmit()" [mat-dialog-close]>
    <div *ngIf="mode == 'create'">
      Event hinzufügen
    </div>
    <div *ngIf="mode == 'edit'">
      Speichern
    </div>
  </button>
  <button mat-flat-button class="delete-button" color="warn" matTooltip="Delete Event" *ngIf="mode == 'edit'" (click)="onDelete()" [mat-dialog-close]>
    Löschen
  </button>

</div>
