<mat-toolbar>
  <span routerLink="/home" routerLinkActive="home-active">ELB INSEL CALENDER</span>
  <span class="example-spacer"></span>
  <div class="toolbar-links">
    <span routerLink="/home" routerLinkActive="link-active" aria-selected="false">Home</span>
    <span routerLink="/all-events" routerLinkActive="link-active" aria-selected="false">Events</span>
    <span routerLink="/all-events" routerLinkActive="link-active" aria-selected="false">Login</span>
    <span routerLink="/contact" routerLinkActive="link-active" aria-selected="false">Kontakt</span>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
