.example-spacer {
  flex: 1 1 auto;
}

.toolbar-links {
  display: flex;
  align-items: center;
  gap: 20px;

  span {
    cursor: pointer;
    font-size: 18px;
    font-weight: 300;
  }
}

.link-active {
  color: var(--accent);
}

.mat-toolbar {
  position: sticky;
  top: 0;
  filter: blur(1);
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.8px);
  -webkit-backdrop-filter: blur(5.8px);
}

.home-active {
  display: none;
}
