.example-spacer {
  flex: 1 1 auto;
}

.toolbar-links {
  display: flex;
  align-items: center;
  gap: 10px;

  span {
    cursor: pointer;
    font-size: 18px;
    font-weight: 300;
  }
}

.link-active {
  color: var(--accent);
}

.mat-toolbar {
  background: #21212100;
}

.home-active {
  display: none;
}
