<mat-card class="example-card" *ngIf="event">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>{{event.name}}</mat-card-title>
      <mat-card-subtitle>
        {{event.location}}
        <span *ngIf="event.date" class="event-date"> - {{event.date | date}}</span>
      </mat-card-subtitle>
      <img mat-card-lg-image class="event-image" [src]="event.image" alt="">
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    {{ event.category }}
    <br/>
    {{ event.description }}
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-flat-button type="button" (click)="openEventDialog()">bearbeiten</button>
  </mat-card-actions>
</mat-card>
