button{
  background-color: #65b6da;
  color: white;
  border: none;
  padding: 5px;
  font-size: 31px;
  height: 80px;
  width: 80px;
  box-shadow: 0 2px 4px darkslategray;
  cursor: pointer;
  transition: all 0.2s ease;
  border-radius: 70%;
}
 button:hover{
  background-color: #53bbec;
  color: #0b5095;
}
.add-button{
  margin-left: 50%;
  margin-top: 5%;
}
form{
  margin-left: 25%;
  margin-top: 5%;
  width: 50%;
}
h1{
  text-align: center;
  margin-top: 5%;
  font-family: 'Raleway',sans-serif;
  font-size: 48px;
  font-weight: 800;
  line-height: 48px;
  text-transform: uppercase;
}
.location{
  width: 50%;
  display: inline-block;
  padding-left: 15px;

}
.name{
  width: 50%;
  display: inline-block;
  padding-right: 15px;
}
.textarea{
  margin-top: 10px;
}
mat-form-field {
  width: 100%;
}
.datepicker{
  display: inline-block;
}
