<div class="form">
  <h1>Add Music Event</h1>
<form>

  <!-- Name of Event input -->
  <div class="form-outline mb-4">
    <input type="text" id="form1Example1" class="form-control" placeholder="Name"/>
  </div>

  <!-- Location input -->
  <div class="form-outline mb-4">
    <input type="text" id="form1Example2" class="form-control" placeholder="Location"/>
  </div>
  <!-- Date input -->

  <mat-form-field appearance="fill">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>


  <!-- Submit button -->
  <div class="add-button">
    <button mat-fab extended
            matTooltip="Add Event">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</form>
</div>


