// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Fonts
@import 'https://fonts.googleapis.com/icon?family=Material+Icons+Outlined';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');

$calender-typography: mat.define-typography-config(
 $font-family: "'Quicksand'",
);

$my-primary: (
  50 : #fcfbf8,
  100 : #f8f6ef,
  200 : #f3f0e4,
  300 : #eee9d9,
  400 : #eae5d0,
  500 : #e6e0c8,
  600 : #e3dcc2,
  700 : #dfd8bb,
  800 : #dbd3b4,
  900 : #d5cba7,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
  50 : #000000,
  100 : #000000,
  200 : #000000,
  300 : #000000,
  400 : #000000,
  500 : #000000,
  600 : #000000,
  700 : #000000,
  800 : #000000,
  900 : #000000,
  A100 : #000000,
  A200 : #000000,
  A400 : #000000,
  A700 : #000000,
  )
  );

$my-accent: (
  50 : #e2f3f4,
  100 : #b8e2e4,
  200 : #88ced2,
  300 : #58babf,
  400 : #35acb2,
  500 : #119da4,
  600 : #0f959c,
  700 : #0c8b92,
  800 : #0a8189,
  900 : #056f78,
  A100 : #a7f7ff,
  A200 : #74f3ff,
  A400 : #41efff,
  A700 : #27ecff,
  contrast: (
  50 : #000000,
  100 : #000000,
  200 : #000000,
  300 : #000000,
  400 : #000000,
  500 : #ffffff,
  600 : #ffffff,
  700 : #ffffff,
  800 : #ffffff,
  900 : #ffffff,
  A100 : #000000,
  A200 : #000000,
  A400 : #000000,
  A700 : #000000,
  )
  );

$my-warn: (
  50 : #fbe6e9,
  100 : #f5c0c9,
  200 : #ee96a5,
  300 : #e76c80,
  400 : #e24d65,
  500 : #dd2d4a,
  600 : #d92843,
  700 : #d4223a,
  800 : #cf1c32,
  900 : #c71122,
  A100 : #fff5f6,
  A200 : #ffc2c6,
  A400 : #ff8f97,
  A700 : #ff7580,
  contrast: (
  50 : #000000,
  100 : #000000,
  200 : #000000,
  300 : #000000,
  400 : #ffffff,
  500 : #ffffff,
  600 : #ffffff,
  700 : #ffffff,
  800 : #ffffff,
  900 : #ffffff,
  A100 : #000000,
  A200 : #000000,
  A400 : #000000,
  A700 : #000000,
  )
  );

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Kalendar_FE-primary: mat.define-palette($my-primary);
$Kalendar_FE-accent: mat.define-palette($my-accent);
$Kalendar_FE-warn: mat.define-palette($my-warn);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Kalendar_FE-theme: mat.define-dark-theme((
  color: (
    primary: $Kalendar_FE-primary,
    accent: $Kalendar_FE-accent,
    warn: $Kalendar_FE-warn,
  ),
  typography: $calender-typography,
));


// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Kalendar_FE-theme);
@include mat.all-component-colors($Kalendar_FE-theme);
@include mat.all-component-typographies($calender-typography);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
:root {
  --primary: #eae5d0;
  --accent: #35acb2;
  --warn: #e24d65;
  --dark: #303030;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 30px !important;
  scrollbar-width: none;
  -ms-overflow-style: none;
  ::-webkit-scrollbar { display: none; }
}


.mat-calendar-body-label{
     opacity: 0;
}

.mat-calendar-body-label[colspan="7"] {
    display: none;
}
