.home-container {
  display: grid;
  grid-template-columns: 1fr 2fr auto;
  gap: 15px;
}

.lateral-message-container {
  position: sticky;
  top: 65px;
  height: 80vh;
  transform: translateY(-64px);
  padding: 20% 20px 10px 20px;
  color: var(--dark);
  border-radius: 0 0 50px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(
    160deg,
    hsl(49deg 33% 84%) 10%,
    hsl(50deg 27% 82%) 38%,
    hsl(50deg 22% 81%) 49%,
    hsl(51deg 19% 79%) 57%,
    hsl(52deg 15% 78%) 63%,
    hsl(53deg 12% 76%) 69%,
    hsl(54deg 10% 75%) 73%,
    hsl(55deg 8% 74%) 77%,
    hsl(56deg 6% 72%) 80%,
    hsl(57deg 4% 71%) 84%,
    hsl(58deg 3% 70%) 87%,
    hsl(59deg 2% 68%) 91%,
    hsl(60deg 1% 67%) 100%
  );
}

.relative-sticky-wrapper {
  position: relative;
}

.home-title {
  font-size: 3rem;
  line-height: 2.5rem;
  margin-bottom: 2rem;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.welcome-message {
  font-size: larger;
  text-align: left;
}

.events-container {
  min-width: 32vw;
  z-index: -1;
}

.home-calender-container {
  position: sticky;
  top: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.calendar-title {
  font-size: 3rem;
  margin: 0;
  line-height: normal;
  letter-spacing: -2px;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  width: 32vw;
}
